@font-face {
  font-family: "Yekan";
  src: url("./assets/fonts/Yekan.woff2") format("woff2"),
    url("./assets/fonts/Yekan.woff") format("woff"),
    url("./assets/fonts/Yekan.ttf") format("ttf"),
    url("./assets/fonts/Yekan.eot") format("eot"),
    url("./assets/fonts/Yekan.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Yekan", sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Yekan";
  color: black;

  direction: rtl;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
